@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bakbak+One&family=Exo+2:wght@700&family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lobster&family=Monoton&family=Pacifico&family=Roboto&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap");
body {
  margin: 0%;
}
.Stay-Focused {
  display: flex;
  padding: 0% 5%;
  padding-bottom: 80px;
}
.Stay-Focused-div {
  width: 50%;
  padding-right: 30px;
}
.mission-2020-span {
  color: #ff5a5a;
}

.Stay-Focused-sec-div {
  width: 50%;
  padding-right: 30px;
}
button {
  border: none;
  padding: 13px 45px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #ff5a5a;
  color: white;
  margin-top: 20px;
  transition: 0.5s;
}

.Stay-Focused-sec-div-img {
  height: 400px;
  width: 400px;
  padding-left: 170px;
  margin-top: 50px;
}

h1 /*all h1 heading*/ {
  font-size: 54px;
  font-family: "Archivo Black", sans-serif;
  color: #333333;
  text-decoration-skip-ink: unset;
  border-left: 4px solid #ff5a5a;
  padding-left: 15px;
}
h2 /*all h2 heading*/ {
  font-family: "Archivo Black", sans-serif;

  font-size: 44px;
  color: #333333;
}
h3 {
  font-size: 28px;
}
h4 /*all h2 heading*/ {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}
p /*all paragraph*/ {
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-size: 18px;
}
.My-Mission {
  padding: 0% 5%;
  padding-bottom: 150px;
  justify-content: center;
}
.My-Mission-h2 {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Archivo Black", sans-serif;
}
.span-2022 {
  color: #ff5a5a;
}
.My-Mission-parent-div {
  display: flex;
}
.My-Mission-images {
  margin-left: -25px;
  height: 200px;
  width: 200px;
}
.Mission {
  width: 33%;
  box-shadow: 5px 5px 30px #00000026;
  background-color: #f9c5d5;
  margin-right: 40px;
  padding-left: 35px;
  padding-right: 20px;
  border-radius: 30px;
  padding-bottom: 80px;
  padding-top: 30px;
}
.Vission {
  width: 33%;
  box-shadow: 5px 5px 30px #00000026;
  background-color: hsl(327, 100%, 76%, 0.6);
  margin-right: 40px;
  padding-left: 35px;
  padding-right: 20px;
  border-radius: 30px;
  padding-bottom: 80px;
  padding-top: 30px;
}
.Goals {
  width: 33%;
  box-shadow: 5px 5px 30px #00000026;
  background-color: #d9d7f1;
  margin-right: 40px;
  padding-left: 35px;
  padding-right: 20px;
  border-radius: 30px;
  padding-bottom: 80px;
  padding-top: 30px;
}
.Develop-section {
  background-image: url("images/develop.png");
  background-repeat: no-repeat;
  display: flex;
  padding: 0% 5%;
  padding-bottom: 150px;
}
.Develop {
  padding-left: 40px;
}
.Develop-image {
  width: 500px;
  height: 500px;
  margin-left: 80px;
  
  background-repeat: no-repeat;
}
.Global-Community {
 
  display: flex;
  padding: 0% 5%;
  padding-bottom: 150px;
}
.Global-Community-div {
  width: 50%;
  margin-right: 30px;
}
.Global-Community-sec-div {
  width: 50%;
  margin-right: 30px;
}
.Global-Community-image {
  width: 450px;
  height: 500px;
  padding-left: 110px;
}

.service {
  padding: 0% 5%;
  padding-bottom: 150px;
}
.Our-service {
  display: flex;
  padding: 0% 5%;
  
}

.zoho-one {
  width: auto;
  box-shadow: 5px 5px 30px #00000026;
  background-color: #fafafa;
  margin-right: 40px;
  padding-left: 35px;
  padding-right: 20px;
  border-radius: 30px;
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: center;
}
.our-serviec-heding {
  text-align: center;
}
hr {
  text-decoration: none;
  background-color: red;
  width: 15%;
  padding-top: 2px;
  margin-top: -15px;
  margin-bottom: 70px;
}

footer {
  font-family: "Exo 2", sans-serif;
  color: white;
  text-align: center;
  background-color: #0b0d17;
  padding: 50px 0px;
}
.footer-2020-span {
  color: #ff5a5a;
}
.footer-p {
  color: rgb(255, 255, 255);
}
